name: timeline_tile_plus
description: A package to help you build highly customisable timelines with Flutter.
version: 0.1.0
homepage: https://github.com/dtilhoo/timeline_tile_plus

environment:
  sdk: ^3.10.0
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
